html, body{
    background-color: #f4f4f4;
    font: 1rem/1.5 'Microsoft YaHei', 'Droid Sans Fallback', SimHei, Arial, Helvetica, tahoma, sans-serif;
    min-height: 100%;
}

.app{
    background-color: #f8f8f8;
    min-height: 100%;
    overflow: hidden;
    .load-cover{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        z-index: 10010;
        visibility: visible;
        background: #f8f8f8;
        transition: all .3s;
        .loading-text{
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            height: 2em;
            line-height: 2em;
            margin-top: -1em;
            color: #666;
        }
    }
    &.loaded{
        .load-cover{
            opacity: 0;
            visibility: hidden;
        }
    }
}

.nav-bar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
    background-color: #fff;
    font-size: 14px;
    padding-right: 0.5rem;
    z-index: 10010;
    border-bottom: 1px solid #e7e7e7;
    .nav-wrp{
        position: relative;
        height: 100%;
        z-index: 100;
        background-color: #fff;
    }
    .logo{
        float: left;
        margin: 6px 0 0 18px;
        width: 63px;
        height: 28px;
        background: url(./logo.png);
        background-size: 63px 28px;
    }
    .cell {
        float: right;
        width: 44px;
        height: 36px;
        position: relative;
        box-sizing: border-box;
        margin-right: 5px;
    }
}

.toggle-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10011;
    transition: 0.3s;
    transform-origin: right top;
    .toggle-panel-bg {
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .toggle-panel-inner {
        .search-bar {
            position: relative;
            height: 40px;
            padding: 0 70px 0 12px;
            background-color: #f4f4f4;
            input {
                height: 30px;
                line-height: 30px;
                border-radius: 6px;
                border: 1px solid #ccc;
                box-sizing: border-box;
                position: relative;
                width: 100%;
                top: 5px;
                font-size: 14px;
                color: #999;
                padding: 0 0 0 36px;
            }
            .search-cancel {
                position: absolute;
                right: 0;
                top: 0;
                width: 70px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                color: #999;
            }
        }
        .search-wrapper {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 0 12px;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 11111;
            background-color: #fff;
            opacity: 0.9;
            .title {
                display: flex;
                height: 24px;
                margin-bottom: 24px;
                .line {
                    flex: 1;
                    display: block;
                    border-bottom: 1px solid #ccc;
                }
                .name {
                    position: relative;
                    width: 100px;
                    line-height: 24px;
                    text-align: center;
                    color: #999;
                    font-size: 13px;
                    top: 10px;
                }
            }
            .hot-content {
                min-height: 73px;
                overflow: hidden;
                .hot-item {
                    float: left;
                    color: #444;
                    font-size: 14px;
                    display: block;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    height: 26px;
                    line-height: 26px;
                    padding: 0 10px;
                    margin: 0 12px 12px 0;
                }
            }
        }
        .history-wrapper {
            .title{
                margin: 0;
            }
            .history-item {
                position: relative;
                display: flex;
                width: 100%;
                color: #444;
                font-size: 14px;
                border-bottom: 1px solid #ccc;
                height: 40px;
                line-height: 40px;
                box-sizing: border-box;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
            }
        }
    }
}

.wrapper{
    position: relative;
    margin-top: 40px;
    overflow-x: hidden;
}

.flex-bar {
    padding: 0 0.5rem;
    height: 41px;
    line-height: 41px;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    .flex-bar-in {
        display: flex;
        align-items: center;
        height: 41px;
        justify-content: space-between;  
        .on {
            border-bottom: 4px solid #de698c;
        }
        li {
            width: 60px;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
        }
        a {
            display: block;
            color: #444;
        }
    }
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}